# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tpl = tuple(range(1, 11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [2]:
print(f"First element: {tpl[0]}")
print(f"Middle element: {tpl[len(tpl) // 2]}")
print(f"Last element: {tpl[-1]}")

First element: 1
Middle element: 6
Last element: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [3]:
print(f"First three elements: {tpl[:3]}")
print(f"Last three elements: {tpl[-3:]}")
print(f"Elements from index 2 to 5: {tpl[2:6]}")

First three elements: (1, 2, 3)
Last three elements: (8, 9, 10)
Elements from index 2 to 5: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [8]:
mat = ((1,2,3),(4,5,6),(7,8,9))
print("Matrix:")
for row in mat:
    print(row)
print("Elemement at index mat[1][2]: ", mat[1][2])

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Elemement at index mat[1][2]:  6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [10]:
tpl1 = (1,2,3)
tpl2 = (4,5,6)
concatenated = tpl1 + tpl2
print("Tuple 1: ",tpl1)
print("Tuple 2: ",tpl2)
print("Concatenated: ",concatenated)

Tuple 1:  (1, 2, 3)
Tuple 2:  (4, 5, 6)
Concatenated:  (1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [13]:
tpl = (1,2,3,5,4,6,2,1,5,8,7,9,10)
print("Occurances of 4: ",tpl.count(4))
print("Occurances of 2: ",tpl.count(2))
print("First Occurance of 2: ",tpl.index(2))
print("First Occurance of 5: ",tpl.index(5))

Occurances of 4:  1
Occurances of 2:  2
First Occurance of 2:  1
First Occurance of 5:  3

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [14]:
tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(a, b, c, d, e)

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [15]:
lst = [1, 2, 3, 4, 5]
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [18]:
tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for row in tpl_of_tpls:
    print(row)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [19]:
tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [22]:
string = "Hitesh Mohanty"
print("String: ",string)
tpl = tuple(string)
print("Tuple of Characters: ",tpl)
joined_string = "".join(tpl)
print("Joined String: ",joined_string)

String:  Hitesh Mohanty
Tuple of Characters:  ('H', 'i', 't', 'e', 's', 'h', ' ', 'M', 'o', 'h', 'a', 'n', 't', 'y')
Joined String:  Hitesh Mohanty

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [23]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [26]:
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for row in nested_tpl:
    for element in row:
        print(element, end=" ")

1 2 3 4 5 6 7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [27]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print("Tuple swith duplicates: ",tpl)
unique_set = set(tpl)
print("Unique Set: ",unique_set)

Tuple swith duplicates:  (1, 2, 2, 3, 4, 4, 4, 5)
Unique Set:  {1, 2, 3, 4, 5}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [28]:
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 5
Sum: 15